/node_modules
/dist
/uploads/*.xlsx
db.sqlite

coverage
#ides

.idea
.vscode


#packages

package-lock.json
.package-lock.json


#envs

.env
.env.local
.env.production
.env.production.local
.env.development
.env.development.local

prettier.config.js
.prettier*
.eslint*
.editorconfig
.vscode
